<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Order Details</h1>
    <ul>
        <li>User: {{ order.user }}</li>
        <li>Date Ordered: {{ order.date_ordered }}</li>
        <li>Complete: {{ order.complete }}</li>
        <li>Order Number: {{ order.order_number }}</li>
    </ul>
    <h2>Order Items</h2>
    <ul>
        {% for item in order.orderitem_set.all %}
            <li>{{ item.product.name }} - {{ item.quantity }}</li>
        {% endfor %}
    </ul>
</body>
</html>